/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

body{
    background-color:#f0f0f1;
}

.bg-ami{
  background-color: #f90!important;
}

.ami-logo{
  width: 100%;
}
table{
  margin-bottom: 5px;
}

 table tbody tr td input[type=checkbox]{
   margin-top: -5px;
   margin-left: 5px;
 }

 table tbody tr td label{
  font-size: 1.2em;
    font-weight: 700;
    text-transform: capitalize;
 }

 p{
  margin-bottom: 0;
 }